<h3 class="main-heading"> Bank Branches</h3>
<div class="container main-block">

  <div class="row">
    <div class="col-md-3">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{currentCity}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="bank-dropdown">
          <li *ngFor="let name of city" class="style-list" (click)="fetchData(name)">
            <a>{{name}}</a>
          </li>
        </div>
      </div>

    </div>
    <div class="col-md-5">
      <div class="form-group">
        <input type="text" placeholder="search banks by name" [(ngModel)]="bankSearch" class="form-control" (keyup)="search()">
      </div>
    </div>
  </div>
  <div class="table-responsive bank-table">
    <table class="table table-hover all-beers">
      <thead>
        <tr>
          <th>Name</th>
          <th>Id</th>
          <th>Branch</th>
          <th>IFSC</th>
          <th>City</th>
          <th>District</th>
          <th>Address</th>
          <th>state</th>

        </tr>
      </thead>

      <tbody>

        <tr *ngFor="let bank of  banks ">
          <td>{{bank.bank_name}}</td>
          <td>{{bank.bank_id}}</td>
          <td>{{bank.branch}}</td>
          <td>{{bank.ifsc}}</td>
          <td>{{bank.city}}</td>
          <td>{{bank.district}}</td>
          <td>{{bank.address}}</td>
          <td>{{bank.state}}</td>
          <td>
            <a class="add-beer" (click)="addBeer(beer)">
              <i class="fas fa-beer"></i>
            </a>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
  <div class="row next-prev">
    <div class="col-md-1 offset-md-4">

      <input type="button" class="btn btn-primary" value="previous" (click)="nextPrevBanks(0)" [disabled]="bankService.offset<=0">
    </div>

    <div class="col-md-1 offset-md-2">
      <input type="button" class="btn btn-primary" value="next" (click)="nextPrevBanks(1)">
    </div>
  </div>
</div>